html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
}

footer {
    background-color: #0d132a;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

footer div {
    width: 980px;
    margin: 0 auto;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: left;
}

footer img {
    margin-right: 20px;
    width:30px;
}

.footerText p {
    margin-left: auto;
}
